.h5p-music-composition-exercises button.h5p-music-compositon-exercises-play::before {
  content: '\f04b';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-renew {
  display: block;
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-renew::before {
  content: '\f021';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-reply::before {
  content: '\f058';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-reset::before {
  content: '\f12d';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-show-test::before {
  content: '\f135';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-start-test::before {
  content: '\f04b';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-start-test, .h5p-music-composition-exercises button.h5p-music-compositon-exercises-make-pdf-button {
  margin-right: 2px;
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-stop-test::before {
  content: '\f04d';
}

.h5p-music-composition-exercises button.h5p-music-compositon-exercises-stop-test, .h5p-music-composition-exercises button.h5p-music-compositon-exercises-hide-pdf-button {
  margin-left: 2px;
}
